{% extends "base.html" %}

{% block body %}
  <div>
    {% for post in posts %}
      <div class="container border border-primary my-3 py-2">
        <div class="row">
          <div class="col-9">
            <h4><a href={{ post.meta.path_from_root }} class="link-dark link-underline-opacity-25">{{ post.meta.title }}</a></h4>
          </div>
          <div class="col-3">
            <p>{{ post.meta.publish_dt.date() }} </p>
          </div>
        </div>
        <div class="row">
          {{ post.body }}
        </div>
      </div>
    {% endfor %}
  </div>
  {% call super() %}
{% endblock %}